

.container-fluid {
    padding-left:0px;
    padding-right:0px;
}

.head-container {
    background-color: #ffffff;
}

.container {
    background-color: #ffffff;
}

.nav-wrapper{
    background-color: #1b1b1b;
    background-repeat: repeat-x;
    background-image: linear-gradient(to bottom, #222222, #111111);
}

.navbar {
    width:auto;
     margin-bottom:0;
}

.navbar-inverse .navbar-inner {
    border-color: none;
}

.navbar-inner {
    background-color: #fafafa;
    background-repeat: repeat-x;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    zoom: 1;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
}

.nav li a {
    font-size:12px;
}

.dropdown-menu {
  
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
}

.dropdown-submenu > .dropdown-menu {
  -webkit-border-radius: 0 ;
     -moz-border-radius: 0 ;
          border-radius: 0 ;
}

.dropdown-menu.pull-right {
  right: 0;
  left: auto;
}

.dropdown-menu .divider {
  *width: 100%;
  height: 1px;
  margin: 9px 1px;
  *margin: -5px 0 5px;
  overflow: hidden;
  background-color: #e5e5e5;
  border-bottom: 1px solid #ffffff;
}


.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
  color: #ffffff;
  text-decoration: none;
  background-color: #ef1111;
  background-repeat: repeat-x;
  background-image: linear-gradient(to bottom, #ef1111, #b21616);
  background-image: -moz-linear-gradient(top, #ef1111, #b21616);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ef1111), to(#b21616));
  background-image: -webkit-linear-gradient(top, #ef1111, #b21616);
  background-image: -o-linear-gradient(top, #ef1111, #b21616);
}

.btn-danger:hover
{
    background-image: linear-gradient(to bottom, #4e0303, #ba0707);
    background-image: -moz-linear-gradient(top, #4e0303, #ba0707);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4e0303), to(#ba0707));
    background-image: -webkit-linear-gradient(top, #4e0303, #ba0707);
    background-image: -o-linear-gradient(top, #4e0303, #ba0707);
}

.nav {
    margin-bottom: 0px;
}

.nav-tabs > li > a {
    background-color:#1b1b1b;
    color:#ffffff;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.nav > li > a:hover {
  text-decoration: none;
  background-color: #eeeeee;
  color:#1b1b1b;
}

.tab-content {
    border-bottom:1px solid rgb(221, 221, 221);
}


.footer {
    background-color: #1b1b1b;
    padding: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-top: 5px #CC0000 solid;
}

.footer ul
{
    margin:0px;
}

.footer ul li {
    list-style:none;
    color:#d4d4d4
}

.footer ul li a {
    color: rgb(153, 153, 153);
    font-size:12px;
    text-decoration:none;
}

.footer ul li a:hover {
    color: rgb(255, 255, 255);
}

.footerLink {
    margin: 30px 0px 0px 10px ;
    color: rgb(255, 255, 255);
    font-size:12px;
}

.footerLink a{
    color:#cc0000;
}

.footerLink a:hover{
    color:#ffffff;
}